*.pyc
*.DS_Store
*.gml
.pytest_cache
__pycache__
*.tar.gz
*pkl.gz
*json.gz
*txt
_test.py
*pkl
Data/Classification/*
Data/Report/*
Data/Temp/Benchmark/Complete/*
Data/Temp/Benchmark/Hier/*
Data/Temp/Benchmark/Raw/*
