synrbl>=1.0.1
synkit>=0.0.9
dgl==2.1.0
dgllife==0.3.2
localmapper>=0.1.5
rxn-chem-utils>=1.6.0
rxn-utils>=2.0.0
rxnmapper>=0.4.1
chython==1.78
chytorch>=1.65
chytorch-rxnmap>=1.4
torch==2.2.0
torchdata==0.7.1
transformers==4.51.1 #temporary fix conflict