dgl==2.1.0
dgllife==0.3.2
localmapper==0.1.3
rxn-chem-utils==1.5.0
rxn-utils==2.0.0
rxnmapper==0.3.0
chython==1.75
chytorch==1.60
chytorch-rxnmap==1.4
torchdata==0.7.1
rdkit>=2024.3.3
networkx>=3.3
seaborn>=0.13.2
joblib>=1.3.2
synrbl>=0.0.25
synutility>=0.0.10